body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
}
.game-container {
    display: flex;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
}

.game-container {
  display: inline-block;
  transform-origin: top left;
  transition: transform 0.2s ease-out;
}
.form-container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #999;
}
.triangle-container {
    gap: 1px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    padding-bottom: 0px;
    padding-top: 1.5px;
}
.cairo-container {
    padding-top: 2px;
    padding-bottom: 13px;
    padding-left: 7px;
    padding-right: 7px;
}
.square-container {
    padding-top: 1px;
    padding-bottom: -1px;
    padding-left: 1px;
    padding-right: 1px;
}
.hexagon-container {
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
    );
    padding-top: 1.5px;
    padding-bottom: 10px;
    padding-right: 6.5px;
    padding-left: 6.5px;
}
.cell {
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background-color: #ddd;
    vertical-align: top;
    cursor: pointer;
    pointer-events: auto !important;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cell3 {
    width: 45px;
    height: 39px;
    margin: 0;
    margin-left: -10.75px;
    margin-right: -10.75px;
}
.cell4 {
    width: 30px;
    height: 30px;
    margin:0;
}
.cell5 {
    width: 42.6px;
    height: 42.6px;
    margin: 0;
    margin-right: -6px;
    margin-left: -6px;
}
.cell6 {
    width: 32px;
    height: 37px;
    margin: 0;
    clip-path: polygon(
        0% 25%,
        0% 75%,
        50% 100%,
        100% 75%,
        100% 25%,
        50% 0%
    );
}
.cell a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.revealed {
    background-color: #f0f0f0;
}
.bomb {
    background-color: #ff0000;
    color: white;
}
.flag {
    background-color: #ddd;
    color: red;
    border: 0;
}
fieldset {
    margin: 20px 0;
    width: min(100%, 330px);
    text-align: center;
    margin: 20px auto;
}
footer {
    margin: 20px 0;
    width: min(100%, 330px);
    text-align: right;
    margin: 20px auto;
}
h1 {
    color: #333;
}
.row {
    display: flex;
    justify-content: center;
}
.row3 {
    gap: 0px;
    margin-bottom: 1px;
}
.row6 {
    margin-bottom: -8.6px; /* Präziser Y-Versatz */
    gap: 0.7px; 
}
.row4 {
    margin-bottom: 1px;
    gap: 1px;
}
.row5 {
    margin-bottom: -12px; /* Präziser Y-Versatz */
    gap: 0px; 
}
.clip-up {
    clip-path: polygon(50% 1%, 0% 100%, 100% 100%);
}

.clip-down {
    clip-path: polygon(0 0, 100% 0, 50% 99%);
}
.clip-up.flagged span,
.clip-up.revealed span {
    margin-top: 10px;
}
.clip-down.flagged span,
.clip-down.revealed span {
    margin-top: -10px;
}
.quadrant1 {
    clip-path: polygon(
        70% 0%,
        100% 30%,
        85% 85%,
        30% 70%,
        15% 15%
    );
}
.quadrant2 {
    clip-path: polygon(
        30% 0%,
        0% 30%,
        15% 85%,
        70% 70%,
        85% 15%
    );
}
.quadrant3 {
    clip-path: polygon(
        30% 100%,
        0% 70%,
        15% 15%,
        70% 30%,
        85% 85%
    );
}
.quadrant4 {
    clip-path: polygon(
        70% 100%,
        100% 70%,
        85% 15%,
        30% 30%,
        15% 85%
    );
}
.quadrant1.flagged span,
.quadrant1.revealed span {
    margin-top: -7px;
    margin-right: -7px;
}
.quadrant2.flagged span,
.quadrant2.revealed span {
    margin-top: -7px;
    margin-right: 7px;
}
.quadrant3.flagged span,
.quadrant3.revealed span {
    margin-top: 7px;
    margin-right: 7px;
}
.quadrant4.flagged span,
.quadrant4.revealed span {
    margin-top: 7px;
    margin-right: -7px;
}
.cell3.flag a.cell {
    /* Erzwingt Styles trotz Überschreibungen */
    align-items: center !important;
    justify-content: center !important;
}
a {
    text-decoration: none !important;
}
.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    max-width: 90%;
    width: 500px;
}
.number1 span {
    color: blue;
}
.number2 span {
    color: green;
}
.number3 span {
    color: red;
}
.number4 span {
    color: darkblue;
}
.number5 span {
    color: brown;
}
.number6 span {
    color: cyan;
}
.number7 span {
    color: black;
}
.number8 span {
    color: gray;
}
.number9 span {
    animation-name: animation9;
    animation-timing-function: ease-in;
    animation-duration: 2s; 
    animation-iteration-count: infinite;            
}
@keyframes animation9 {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}
.number10 span {
    animation-name: animation10;
    animation-timing-function: ease-in;
    animation-duration: 7s; 
    animation-iteration-count: infinite; 
}
@keyframes animation10 {
    0% { color: red; }
    14% { color: orange; }
    28% { color: #c89f04; }
    42% { color: green; }
    56% { color: cornflowerblue; }
    70% { color: blue; }
    84% { color: purple; }
    100% { color: red; }
}